.cache
auto-save-list
backups
eln-cache
elpa
request
straight
transient
undo-fu-session
var
#
secrets.el
#
.mc-lists.el
.org-id-locations
.projectile
bookmarks
cursory-latest-state.eld
fontaine-latest-state.eld
history
ielm-history.eld
org-clock-save.el
org-roam.db
places
projectile-bookmarks.eld
projectile.cache
projects
recentf
saveplace
tramp

